:root {
    --font-datatype: "Datatype", ui-monospace, SFMono-Regular, Menlo, monospace;
}

body {
    font-family: var(--font-datatype);
}

input,
button,
textarea,
select,
pre,
table,
th,
td {
    font-family: inherit;
}
